@import "core/style/variable";
.bloglistitem {
  padding: 0;
  width: calc(50% - 10px);
}
.bloglistitem__heading {
  width: 100%;
  padding: 16px;
}

.bloglistitem__link {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.bloglistitem__title {
  color: $text-color-darker;
  margin-bottom: 0;
}
.bloglistitem__date {
  color: $text-color-dark;
}

.bloglistitem__tags {
  padding-top: 16px;
  width: 100%;
}

.blogpostitem__image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1250px) and (min-width: 1025px) {
  .bloglistitem {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .bloglistitem {
    width: calc(100% - 4px);
    margin: 0;
    margin-bottom: 5px;
  }
}
