$fadetime: 0.3s;

.LazyImage {
  position: relative;
}

%LazyImage_common {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.LazyImage__placeholder {
  @extend %LazyImage_common;
}

.LazyImage__inital {
  @extend %LazyImage_common;
  top: 0;
}

.LazyImage__lazy {
  @extend %LazyImage_common;
  top: 0;
  opacity: 0;
}

.LazyImage-loaded .LazyImage__lazy {
  animation: $fadetime fadein;
  animation-fill-mode: forwards;
}

.LazyImage-loaded .LazyImage__inital,
.LazyImage-loaded .LazyImage__placeholder {
  animation: $fadetime fadeout;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
