@import "core/style/variable";
.side-nav__link {
  line-height: 48px;
  height: 48px;
  text-decoration: none;
  border: 0;
  display: flex;
  cursor: pointer;
  color: $text-color-dark;
  justify-content: flex-start;
}

.dark .side-nav__link {
  color: $text-color-light;
}

.side-nav-link__icon {
  margin: 0 24px;
  line-height: 48px !important;
  font-size: 32px !important;
  width: 32px;
  overflow: hidden;
}

.side-nav__link-active,
.side-nav__link:focus {
  background-color: darken($background-color-light, 10%);
}

.dark .side-nav__link-active,
.dark .side-nav__link:focus {
  background-color: darken($background-color-dark, 10%);
}
.side-nav__link:hover {
  color: darken($text-color-dark, 50) !important;
}

.no-decoration {
  text-decoration: none;
}
