@import "core/style/variable";

$blogpostmargin: 5px;
.blogpost {
  position: relative;
  width: calc(100% - 10px);
}
.blogpost__title {
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
}
.blogpost__subtitle {
  margin-bottom: 2vh;
  text-align: center;
  width: calc(100% - 2vh);
}
.blogpost_tags {
  margin-bottom: 2vw;
}
.blogpost__image {
  // margin-top: 2vw;
  width: 100%;
}
.blogpost__text {
  padding: 2vw;
  max-width: 100%;
  max-height: 100%;
  white-space: normal;
  word-wrap: break-word;
}
.blogpost__text * {
  max-width: 100%;
}

.blogpost h1,
.blogpost h2,
.blogpost h3,
.blogpost h4,
.blogpost h5,
.blogpost h6 {
  font-weight: 700;
  white-space: normal;
  margin-top: 25px;
}
.blogpost__text img {
  display: block;
  width: 100%;
  // margin-top: 40px;
  max-height: 1000px;
}
.blogpost__text p {
  line-height: 25px;
}
.blogpost__text hr {
  background-color: $primary-color;
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  color: $primary-color;
  clear: both;
}

.blogpost__text pre {
  font-size: $font-size - 2px;
}

.dark .blogpost__text tr:nth-child(odd) {
  background: lighten($background-color-dark, 5%);
}

.blogpost__text tr:nth-child(odd) {
  background: darken($background-color-light, 10%);
}

@media (max-width: 700px) {
  .blogpost {
    width: calc(100% - 4px);
    padding-left: 6px;
    padding-right: 6px;
  }
}
