@import "core/style/variable";
.options-menu_item {
  height: 3em;
  width: 100%;
  display: block;
  border: 0;
  color: $text-color-dark;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.dark .options-menu_item {
  color: $text-color-light;
}

.options-menu_item:hover {
  background: darken($background-color-light, 10%);
}

.dark .options-menu_item:hover {
  background: lighten($background-color-dark, 10%);
}
