@import "core/style/variable";

.todoadd-fab {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  transition: transform $transition;
  z-index: 3;
}

.todoadd-adding .todoadd-fab {
  transform: rotate(45deg);
}

.todoadd-dialog {
  bottom: auto;
  top: 30%;
  left: 0;
  width: 100vw;
  padding: 5%;
}

.todoadd-scrim {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: opacity $transition;
  background: $background-color-dark;
  will-change: opacity;
  opacity: 0;
  z-index: 2;
}

.todoadd-adding .todoadd-scrim {
  pointer-events: all;
  opacity: 0.85;
}
